.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  max-width: var(--btn-max-width);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.8;
  filter: brightness(1.1);
}

.b01 {
  background-image: var(--b01);
}

.b03 {
  background-image: var(--b03);
}
.b04 {
  background-image: var(--b04);
}
.b05 {
  background-image: var(--b05);
}
.b06 {
  background-image: var(--b06);
}
.b07 {
  background-image: var(--b07);
}
.b08 {
  background-image: var(--b08);
}
.b09 {
  background-image: var(--b09);
}
.b10 {
  background-image: var(--b10);
}
.b13 {
  background-image: var(--b13);
}
